[defaults]
sudo_flags=-H -S -i
become_flags=-H -S -i
timeout=90
roles_path=roles
library=library
forks=200

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=5m  -o ServerAliveInterval=30 -o ServerAliveCountMax=25
control_path = %(directory)s/%%h-%%r
pipelining = True
