<{{ credential.type }} plugin="credential.plugin">
  <scope>{{ credential.scope }}</scope>
  <id>{{ credential.id|to_uuid }}</id>
  <description>{{ credential.description }}</description>
  {% if credential.type == "com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl" %}
  <username>{{ credential.username }}</username>
  <password>{{ credential.password }}</password>
  {% elif credential.type == "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl" %}
  <secret>{{ credential.secret|hash('sha1')}}</secret>
  {% elif credential.type == "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey" %}
  <username>{{ credential.username }}</username>
  <privateKeySource class="{{ credential.privateKeySource }}"/>
  {% endif %}
</{{ credential.type }}>
